In [42]:
import pandas as pd
import numpy as np

## Question 1

In [2]:
pd.__version__

'2.2.2'

In [3]:
df = pd.read_csv('./data/laptops.csv')

## Question 2

In [4]:
df.shape

(2160, 12)

Total record 2160

## Question 3

In [6]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Laptop,2160,2160,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Status,2160,2,New,1498,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brand,2160,27,Asus,415,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Model,2160,121,15S,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CPU,2160,28,Intel Core i7,710,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RAM,2160.0,NaN,NaN,NaN,15.413889,9.867815,4.0,8.0,16.0,16.0,128.0
Storage,2160.0,NaN,NaN,NaN,596.294444,361.220506,0.0,256.0,512.0,1000.0,4000.0
Storage type,2118,2,SSD,2062,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GPU,789,44,RTX 3050,129,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Screen,2156.0,NaN,NaN,NaN,15.168112,1.203329,10.1,14.0,15.6,15.6,18.0
Touch,2160,2,No,1933,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Final Price,2160.0,NaN,NaN,NaN,1312.638509,911.475417,201.05,661.0825,1031.945,1708.97,7150.47

There are 27 laptop brands

## Question 4

In [7]:
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

There  are 2 columns with missing value, storage type and GPU

## Question 5

In [14]:
df['Brand'].unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [10]:
df[df['Brand'] == 'Dell']['Final Price'].max()

3936.0

## Question 6

In [17]:
# median of screen column
df['Screen'].median()

15.6

In [22]:
# most frequent value of the screen
screen_most_freq_value = df['Screen'].mode(dropna=True)

print(screen_most_freq_value)

0    15.6
Name: Screen, dtype: float64

In [35]:
df['Screen'] = df['Screen'].fillna(screen_most_freq_value[0])

In [38]:
df['Screen'].median()

15.6

## Question 7

In [39]:
df_innjoo = df[df['Brand']=='Innjoo'].copy()

In [41]:
df_innjoo[['RAM', 'Storage', 'Screen']]

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [44]:
X = np.array(df_innjoo[['RAM', 'Storage', 'Screen']])

In [45]:
XT = X.T

In [47]:
XTX = np.dot(XT, X)

In [50]:
XTX_inverse = np.linalg.inv(XTX)

In [51]:
y = [1100, 1300, 800, 900, 1000, 1100]

In [52]:
w = np.dot(np.dot(XTX_inverse, XT), y)

In [54]:
sum(w)

91.29988062995588